
<html>
<head>
	<meta charset="UTF-8">
	<title>Solicitud</title>
	
	
	<style type="text/css">
		table{
			
			width: 100%;
		}
		body{
			font-family: Arial Narrow;

		}
		.instituto{
			font-size: 11pt;
			font-weight: bold;
			text-align: center;
		}
		.gris{
			font-size: 6.5pt;
			font-weight: bold;
			background-color: rgb(217,217,217);
		}
		.subrayado{
			text-decoration: underline;
			font-size: 11pt;
		}
		.pasante{
			font-size: 9pt;
		}
		.pasante2{
			font-size: 9pt;
			font-weight: bold;
		}
		.azul{
			background-color: rgb(219,229,241);
			font-size: 9pt;
		}
		.documentacion{
			font-size: 6pt;
			text-align: left;
		}
		.documentos{
			font-size: 8pt;
		}
		.opciones{
			font-size: 5pt;
			border: 1px solid black;
			text-align: justify;
		}
		.fin{
			font-size: 8pt;
		}


	</style>


</head>

<body>
	<table >
		<tr>
			<td>
			<table>
				<tr>
					<td width="10%"><img src="ipn2.jpg"></td>
			        <td class="instituto" width="80%"><p>INSTITUTO POLITÉCNICO NACIONAL<br>ESCUELA SUPERIOR DE CÓMPUTO<br>SUBDIRECCIÓN DE SERVICIOS EDUCATIVOS E INTEGRACIÓN SOCIAL</p></td>
			        <td width="10%"><img src="escom2.jpg"></td>
				</tr>
			</table>
			</td>
		</tr>
		<tr>
			<td>
			<table>
				<tr>
					<td width="65%"></td>
			        <td class="gris" width="35%"><p>CARÁCTER: Confidencial.<br>FUNDAMENTO LEGAL: Art. 3, fracción II y Art. 21, lineamiento 32,<br>fracción XVII de la L.F.T.A.I.G. PARTES CONFIDENCIALES: Número<br>de boleta y teléfono</p></td>
			        
				</tr>
			</table>
			</td>
		</tr>
		<tr>
			<td>
			<table >
				<tr>
					<td class="instituto subrayado" style="width:100%"><p>SOLICITUD DE TITULACIÓN</p></td>
				</tr>
			</table>
			</td>
		</tr>
		<tr>
			<td>
			<table class="pasante">
				<tr>
					<td class="pasante" style="width:40%"><strong><p><span style="background-color:#DBE5F1;">I.-INFORMACIÓN PROPORCIONADA POR EL PASANTE</span></p></strong></td>
			   		<td class="pasante" align="right" style="width:60%"><strong><p>FECHA DE INICIO DE TRÁMITE:  <u>22</u>/<u>Marzo</u>/<u>2015</u></p></strong></td>
				</tr>
			</table>
			</td>
		</tr>
		<tr>
			<td>
			<table class="pasante">
				<tr>
			        <td style="width:20%"><p><strong>BOLETA:</strong>  <u>2012630040</u></p></td>
			 		<td style="width:80%"><p><strong>NOMBRE (S):</strong>   <u>Martinez Fernandez Quetzalcoatl Guadalupe</u></p></td>
				</tr>
			</table>
			</td>
		</tr>
		<tr>
			<td>
			<table class="pasante">
				<tr>
					<td width="100%"><p><strong>CORREO ELECTRÓNICO:</strong>  <u>mi_correo_ficticio_largo_prueba@rataegipcia.com</u></p></td>
				</tr>
			</table>
			</td>
		</tr>
		<tr>
			<td>
			<table class="pasante">
				<tr>
					<td width="10%"><p><strong>TELÉFONO(S):<br><br><br></strong></p></td>
					<td width="30%"><p><center><u>55 55 55 55 55</u><br><strong>CASA</strong></center></p></td>
					<td width="30%"><p><center><u>55 55 55 55 55</u><br><strong>TRABAJO</strong></center></p></td>
					<td width="30%"><p><center><u>044 55 55 55 55 55</u><br><strong>CELULAR</strong></center></p></td>
				</tr>
			</table>
			</td>
		</tr>
		<tr>
			<td>
			<table>
				<tr>
					<td class="pasante" width="34%"><p><strong>OPCIÓN DE TITULACIÓN: *</strong><br>(___)  <u>curricular</u><br><small>ANOTAR No. Y OPCIÓN DE TITULACIÓN<br>*  VER  RECUADRO DE OPCIONES DE TITULACIÓN</small></p></td>
					<td class="pasante" width="33%"><p><strong>REGISTRO DE TITULACIÓN:</strong><br><u>registro ficticio</u><br><small>PROPORCIONADO POR EL ÁREA DE TITULACIÓN</small></p></td>
					<td class="pasante" width="33%"><p><strong>GENERACIÓN:</strong><br><u>generacion ficticia</u><br><small>ANOTAR AÑO DE INGRESO Y EGRESO A LA UNIDAD ACADÉMICA</small></p></td>
				</tr>
			</table>
			</td>
		</tr>
		<tr>
			<td>
			<table border>
				<tr>
					<th class="azul" width="35%"><p>DOCUMENTO OFICIAL</p></th>
					<th class="azul" width="20%"><p>FECHA DE EMISIÓN</p></th>
					<th class="azul" width="20%"><p>FOLIO</p></th>
					<th class="azul" width="25%"><p>NÚMERO</p></th>
				</tr>
				<tr>
					<td class="documentos"><p>CARTA DE PASANTE</p></td>
					<td class="documentos"></td>
					<td class="documentos"></td>
					<td class="documentos"></td>
				</tr>
				<tr>
					<td class="documentos"><p>CONSTANCIA DE SERVICIO SOCIAL</p></td>
					<td class="documentos"></td>
					<td class="documentos"></td>
					<td class="documentos"></td>
				</tr>
				<tr>
					<td class="documentos"><p>CERTIFICADO DE ESTUDIOS</p></td>
					<td class="documentos"></td>
					<td class="documentos"></td>
					<td class="documentos"></td>
				</tr>
			</table>
			</td>
		</tr>
		<tr>
			<td>
			<form>
			<table>
				<tr>
					<th class="pasante" width="27%"><p>DOCUMENTACIÓN PRESENTADA:</p></th>
					<th width="3%"></th>
					<th width="32%"></th>
					<th width="3%"></th>
					<th width="32%"></th>
					<th width="3%"></th>
				</tr>
				<tr class="documentacion">
					<td><p>CARTA DE PASANTE (ORIGINAL Y 2 COPIAS)</p></td>
					<td><input type="checkbox"></input></td>
					<td><p>CERTIFICADO DE ESTUDIOS (ORIGINAL Y 2 COPIAS)</p></td>
					<td><input type="checkbox"></input></td>
					<td><p>CARTA DE LIBERACIÓN DE SERVICIO SOCIAL (ORIGINAL Y 2 COPIAS)</p></td>
					<td><input type="checkbox"></input></td>
				</tr>
				<tr class="documentacion">
					<td><p>SOLICITUD DE TITULACIÓN </p></td>
					<td><input type="checkbox"></input></td>
					<td><p>4 FOTOGRAFÍAS FORMATO ÓVALO TAMAÑO CREDENCIAL</p></td>
					<td><input type="checkbox"></input></td>
					<td><p>CONSTANCIA DE *INGLÉS (ORIGINAL Y 2 COPIAS)</p></td>
					<td><input type="checkbox"></input></td>
				</tr>
				<tr class="documentacion">
					<td><p>CURRÍCULUM VITAE</p></td>
					<td><input type="checkbox"></input></td>
					<td><p>COMPROBANTE DE NO ADEUDO (SOLO ISISA)</p></td>
					<td><input type="checkbox"></input></td>
					<td><p>2 EMPASTADOS DEL REPORTE GENERADO PARA L A TITULACIÓN</p></td>
					<td><input type="checkbox"></input></td>
				</tr>
				<tr class="documentacion">
					<td><p>2 COPIAS DE CARATULA DE REPORTE GEBERADO PARA LA TITULACIÓN</p></td>
					<td><input type="checkbox"></input></td>
					<td><p></p></td>
					<td><input type="checkbox"></input></td>
					<td><p>2 DISCOS DEL REPORTE GENERADO PARA L A TITULACIÓN</p></td>
					<td><input type="checkbox"></input></td>
				</tr>
				<tr>
					<table>
						<tr>
							<td class="documentacion" width="23%"><p>* ISC: CONSTANCIA DE INGLÉS B2 MCER (A PARTIR DEL PLAN 2009) </p></td>
							<td class="documentacion" width="77%"><p>* ISISA: CONSTANCIA DE INGLÉS B1 MCER.</p></td>
						</tr>
					</table>
				</tr>
			</table></form></td>
		</tr>
		<tr>
			<td>
			<table>
				<tr>
					<td class="pasante" width="100%"><p><span style="background-color:#DBE5F1;">II.-INFORMACIÓN PROPORCIONADA POR ÉL ÁREA DE TITULACIÓN</span></p></td>
				</tr>
				<tr>
					<td class="pasante" width="100%"><p>LA TOMA DE PROTESTA SE REALIZARÁ EL DÍA <u>x</u> DE <u>xxxxx</u> DE <u>xxxx</u>  A LAS <u>xxxx</u>HRS., EN<u>xxxxxxx</u>.</p></td>
				</tr>
			</table>
			</td>
		</tr>
		<tr>
			<td>
			<table>
				<tr>
					<td>
						<table border>
							<tr>
								<caption>JURADO</caption>
								<th class="azul" width="10%"><p>CARGO</p></th>
								<th class="azul" width="32%"><p>NOMBRE DEL PROFESOR</p></th>
								<th class="azul" width="5%"><p>*DIR</p></th>
								<th class="azul" width="5%"><p>*SIN</p></th>
								<th class="azul" width="25%"><p>*** FIRMA DE RECEPCIÓN DE<br>DOCUMENTACIÓN (SOLO<br>DIRECTORES O ASESORES)</p></th>
                            </tr>
                            <tr>
                            	<td class="pasante2"><p>PRESIDENTE</p></td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            </tr>
                            <tr>
                            	<td class="pasante2"><p>SECRETARIO</p></td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            </tr>
                            <tr>
                            	<td class="pasante2"><p>VOCAL 1</p></td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            </tr>
                            <tr>
                            	<td class="pasante2"><p>VOCAL 2</p></td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            </tr>
                            <tr>
                            	<td class="pasante2"><p>VOCAL 3</p></td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            </tr>
						</table>
					</td>
					<td width="3%"></td>
					<td width="20%" >
						<table >
							<tr><td colspan="2"></td></tr>
							<tr><td></td><td class="opciones" border><p><center><h3>OPCIONES DE<br>TITULACIÓN</h3></center><br>&nbsp&nbsp&nbsp&nbsp&nbspI.&nbsp&nbsp&nbspPROYECTO DE INVESTIGACIÓN <br>&nbsp&nbsp&nbsp&nbspII. 	&nbsp&nbspTESIS<br>&nbsp&nbsp&nbspIII.	&nbsp&nbspMEMORIA DE EXPERIENCIA<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp PROFESIONAL<br>&nbsp&nbsp&nbspIV.&nbsp&nbsp&nbspEXAMEN DE CONOCIMIENTO<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp POR  ÁREAS<br>&nbsp&nbsp&nbspV. 	&nbsp&nbsp&nbspCRÉDITOS DE POSGRADO<br>&nbsp&nbsp&nbspVII. 	&nbspSEMINARIO DE TITULACIÓN<br>&nbsp&nbsp&nbspVIII. 	ESCOLARIDAD<br>&nbsp&nbsp&nbspIX.&nbsp&nbsp&nbspCURRICULAR<br>&nbsp&nbsp&nbspXI.&nbsp&nbsp&nbspPROGRAMA ESPECIAL</p></td></tr>
						</table>
					</td>
				</tr>
			</table>
			</td>
		</tr>
		<tr>
			<td>
			<table>
				<tr>
					<td width="100%"></td>
				</tr>
			</table>
			</td>
		</tr>
		<tr>
			<td>
			<table>
				<tr>
					<td width="48%">
						<table border class="pasante2">
							<tr><th class="azul"><center><p>REVISIÓN Y COTEJO</p></center></th></tr>
							<tr><td><br><br><center><p>DEPARTAMENTO DE FORMACIÓN INTEGRAL E INSTITUCIONAL</p></center></td></tr>
						</table>
					</td>
					<td width="4%"></td>
					<td width="48%">
						<table border class="pasante2">
							<tr><th class="azul"><center><p>REVISIÓN Y COTEJO</p></center></th></tr>
							<tr><td><br><br><center><p>DEPARTAMENTO DE GESTIÓN ESCOLAR</p></center></td></tr>
						</table>
					</td>
				</tr>
			</table>
			</td>
		</tr>
		<tr>
			<td >
				<p class="fin"><strong>NOTA:</strong>
                        <br>•	En caso de que el Área de Titulación lo indique, anexar copia de cédula de examen profesional de los integrantes del jurado evaluador del Trabajo Terminal.
                        <br><strong>•	Acudir con puntualidad en la fecha asignada, de lo contrario se reprogramará en otra fecha disponible.</strong>

				</p>
			</td>
		</tr>
	</table>
</body>

</html>